<div class="row">
  <div class="col-12">
    <form class="row justify-content-center" [formGroup]="form" (ngSubmit)="sendPost()">
      <div class="col-12">
        <div *ngFor="let item of formElements" class="row justify-content-center">
          <div [ngClass]="item.container_class">
            <div class="form-floating">
              <textarea *ngIf="item.textArea" [ngClass]="item.textArea.class" [placeholder]="item.textArea.placeholder" [id]="item.id" formControlName="{{item.id}}"></textarea>
              <input [accept]="item.input.type == 'file'?'.pdf':''" (change)="item.input.type == 'file'?getFile($event):null" *ngIf="item.input" [type]="item.input.type" [ngClass]="item.input.class" [id]="item.id"
              [placeholder]="item.input.placeholder" formControlName="{{item.id}}">
              <label *ngIf="item.label" [for]="item.id" [ngClass]="item.label.class">{{item.label.text}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row mt-5 mb-5 justify-content-around">
          <input type="submit" value="Subir Publicación" class="col-10 col-md-5 col-lg-4 p-3 btn btn-lg btn-outline-success">
        </div>
      </div>
    </form>
  </div>
</div>
